<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Rails Sample App</title>
  </head>
  <body>
    <h1><%= yield(:title) %></h1>
    <p>This is the <%= yield(:title) %> page.</p>
  </body>
</html>